{{template "header" .}}
    <div id="breadcrumb">
    </div>
    <div id="importer">
        <div class="general">
        <form action="/api/upload" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <label>Upload a character card (PNG only) &nbsp; </label>
            <input type="file" id="upload-card" class="file-input" name="file" accept=".png" onchange="updateFileName(this)">
            <label for="upload-card" class="custom-button"><span id="fileName">Choose File</span></label>
            <input id="upload-button" class="custom-button" type="submit" value="Upload">
        </form>
        </div>
    </div>
    <script>
        function updateFileName(input) {
            const fileNameSpan = document.getElementById("fileName");
            if (input.files.length > 0) {
                fileNameSpan.textContent = input.files[0].name;
            } else {
                fileNameSpan.textContent = "Choose File";
            }
        }
        function validateForm() {
            const fileInput = document.getElementById("upload-card");
            if (fileInput.files.length === 0) {
                alert("Please select a file.");
                return false;
            }
            return true;
        }
    </script>
    <div id="add-new">
    </div>
    <div id="container">
    </div>
{{template "footer" ("character")}}