{{define "footer"}}
    <script type="module" src="/static/js/{{.}}.js"></script>
    <script>
        function escapeHtml(text) {
            const div = document.createElement('div');
            div.textContent = text;
            return div.innerHTML.replaceAll('"', '”');
        }
    </script>
</body>
</html>
{{end}}