{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.title}}</title>
    <link rel="stylesheet" href="{{.prefix}}/static/css/style.css">
    <link rel="stylesheet" href="{{.prefix}}/static/css/fontawesome.css" >
</head>
<body>
    <div id="menu-container">
        <a href="{{.prefix}}/" class="menu-item">
            <img src="{{.prefix}}/static/img/home.png" alt="Home" title="Home" class="darker">
        </a>
        <a href="{{.prefix}}/character/" class="menu-item">
            <img src="{{.prefix}}/static/img/char.png" alt="Characters" title="Characters" class="darker">
        </a>
        <a href="{{.prefix}}/book/" class="menu-item">
            <img src="{{.prefix}}/static/img/book.png" alt="Books" title="Books" class="darker">
        </a>
    </div>
{{end}}