{{template "header" .}}
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="spinner"></div>
            <p>Generating... please wait</p>
        </div>
    </div>
    <div id="container">
    </div>
    <div id="add-new">
    </div>
{{template "footer" ("line")}}