{{template "header" .}}
        <div id="container">
            <div class="element">
                <form action="login" method="POST">
                    <input class= "custom-input" type="text" name="username" id="username" placeholder="username"/><br>
                    <input class= "custom-input" type="password" name="password" id="password" placeholder="password"/>
                    <input class= "custom-button ml2" type="submit" name="submit"/>
                </form>
            </div>
        </div>
{{template "footer" .}}