:root {
    --body-color: #111111;
    --back-color: #333333;
    --border-color: #666666;
    --text-color: #cccccc;
    --alert-color: #cf0000;
    --spinner-color: #3498db;
}

body {
    background-color: var(--body-color);
    font-family: "Times New Roman", serif;
    font-size: 20px;
}

textarea {
    resize: vertical;
}

label {
    margin-left: 2%;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mt2 {
    margin-top: 2%;
}

.mb2 {
    margin-bottom: 2%;
}

.ml2 {
    margin-left: 2%;
}

.mr2 {
    margin-right: 2%;
}

.w100 {
    width: 100%;
}

.button-link {
    text-decoration: none;
    text-align: center;
}

#menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#menu-container .menu-item {
    background-color: var(--body-color);
    color: var(--text-color);
    border: none;
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-container .menu-item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.menu-item img:hover {
    transform: scale(1.1);
}

#menu-container .menu-item span {
    margin-top: 5px;
    font-size: 16px;
}

#container, #importer, #add-new {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.general {
    padding: 1%;
    margin: 1%;
    background-color: var(--back-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 10px;
}

.element {
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    margin: 1%;
    background-color: var(--back-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 10px;
}

.image-container {
    width: 100px;
    height: 120px;
    min-width: 100px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.content {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.content p {
    margin-top: 0;
    margin-left: 2%;
}

.buttons {
    display: flex;
}

.buttons-right {
    margin-left: auto;
    height: 20px;
}

.buttons-center {
    margin: 0 auto;
    height: 20px;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 2%;
    color: var(--text-color);
    font-size: 20px;
}

.buttons button:hover {
    color: var(--border-color);
}

.buttons button:disabled {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 2%;
    color: var(--border-color);
    font-size: 20px;
}

.custom-button, .file-input-label {
    background-color: var(--back-color);
    border: 1px solid var(--border-color);
    border-radius: 2%;
    color: var(--text-color);;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.custom-button:hover {
    color: var(--border-color);;
}

.button-close {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 2%;
    color: var(--alert-color);
    font-size: 20px;
}

.button-close:hover {
    color: var(--border-color);
}

.custom-select {
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--text-color);
    color: var(--back-color);;
    cursor: pointer;
    outline: none;
}

.custom-select:hover {
    border-color: var(--text-color);
    color: var(--back-color);
}

.custom-select option {
    background-color: var(--text-color);
    color: var(--back-color);
}

.file-input {
    display: none;
}

.custom-input {
    margin-left: 2%;
    font-family: "Times New Roman", serif;
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--text-color);
    color: var(--back-color);
}

.custom-input:focus, .custom-input:hover {
    border-color: var(--text-color);
}

.custom-textarea {
    width: 100%;
    margin-left: 2%;
    font-family: "Times New Roman", serif;
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--text-color);
    color: var(--back-color);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--text-color);
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid var(--text-color);
    border-top: 4px solid var(--spinner-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  